<%= form_for @roundup do |f| %>
  <div class="form-group">
    <%= f.label "Accounts to monitor" %>:<br/>
    <%= f.text_area :monitored_accounts, rows: 15, placeholder: "@username, 1 per line", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :links_only %>:<br/>
    <%= f.radio_button(:links_only, true, checked: @roundup.links_only || @roundup.links_only.nil?) %>
    <%= f.label(:links_only, "Yes, only include tweets with links") %>
    <%= f.radio_button(:links_only, false, checked: @roundup.links_only == false) %>
    <%= f.label(:links_only, "No, don't exclude non-link tweets") %>
  </div>

  <div class="form-group">
    <p>Optionally include or exclude tweets based on text content. Leave blank for #nofilter.</p>
    <%= f.label "Include words" %>:<br/>
    <%= f.text_field :whitelist, placeholder: 'awesome, wow', class: "form-control" %>

    <%= f.label "Exclude words" %>:<br/>
    <%= f.text_field :blacklist, placeholder: 'boring, dull, uninteresting', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :frequency %>:<br/>
    <%= f.radio_button(:frequency, "0", checked: @roundup.frequency != 1) %>
    <%= f.label(:frequency, "Daily") %>
    <%= f.radio_button(:frequency, "1", checked: @roundup.frequency == 1) %>
    <%= f.label(:frequency, "Weekly") %>
  </div>

  <div class="form-group">
    <%= f.label "Webhook endpoint" %>:<br/>
    <%= f.text_field :webhook_endpoint, placeholder: 'https://requestb.in/.....', class: "form-control" %>

    <%= f.label "Email address" %>:<br/>
    <%= f.text_field :email_address, placeholder: 'account@domain.tld', class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-success btn-lg" %>
<% end %>
