<h4>
  <strong>Roundup <%= index + 1 %>:</strong>
  <%= sanitize(roundup.list_of_monitored_accounts.map { |acc| link_to "@#{acc}", "https://twitter.com/#{acc}" }.join(", ")) %>
</h4>

<div class="well">
  <div class="btn-group">
    <%= link_to 'Edit', edit_roundup_path(roundup), class: "btn btn-warning btn-sm" %>
    <%= link_to 'Delete', roundup,  method: :delete, class: "btn btn-danger btn-sm" %>
  </div>

  <p class="text-muted">
    Created <strong><%= distance_of_time_in_words(Time.zone.now, roundup.created_at) %> ago</strong>.
  </p>

  <h4>Notifications Configured</h4>
  <p>
    Sent every <strong><%= distance_of_time_in_words(t = Time.zone.now, t += roundup.period) %></strong>.
    <% if roundup.job.present? %>
      Next report refresh &amp; notification trigger in <strong><%= distance_of_time_in_words(roundup.job.run_at, Time.zone.now) %></strong>.
    <% else %>
      Currently no refresh scheduled.
    <% end %>
  </p>
  <% if !roundup.webhook_endpoint.present? && !roundup.email_address.present? %>
    <p>
      There are no notifications configured.
      <%= link_to 'Edit', edit_roundup_path(roundup), class: "btn btn-warning btn-xs" %>
      to add a webhook endpoint or subscribe an email address.
    </p>
  <% else %>
    <p>When reports are generated, notifications are sent out.</p>
  <% end %>
  <% if roundup.webhook_endpoint.present? %>
    <p>
      A POST request is sent to:<br/>
      <code><%= roundup.webhook_endpoint %></code>
    </p>
  <% end %>
  <% if roundup.email_address.present? %>
    <p>
      An email is sent to:<br/>
      <code><%= roundup.email_address %></code>
    </p>
  <% end %>

  <h4>Reports</h4>
  <% if roundup.manually_refreshable? %>
    <p>
      <%= link_to 'Trigger Report Refresh', refresh_roundup_path(roundup), method: :post, class: "btn btn-info btn-sm" %>
    </p>
  <% else %>
    <p class="text-muted">Manual Refresh available in <strong><%= distance_of_time_in_words(Time.zone.now - roundup.manually_refreshable_in, Time.zone.now) %></strong>.</p>
  <% end %>
  <% unless roundup.roundup_reports.empty? %>
    <% if roundup.roundup_reports.last.tweets.empty? %>
      <p>Latest report created <strong><%= distance_of_time_in_words(roundup.roundup_reports.last.created_at, Time.zone.now) %> ago.</strong></p>
      <p class="text-muted">There were no new tweets to report in the selected period. No notifications were sent.</p>
    <% else %>
      <p>
        Latest report created <strong><%= distance_of_time_in_words(roundup.roundup_reports.last.created_at, Time.zone.now) %> ago.</strong>
        Showing latest of <strong><%= roundup.roundup_reports.size %></strong> total reports.</strong>
      </p>
      <table class="table">
        <% roundup.roundup_reports.last.tweets.each do |tweet| %>
          <tr>
            <th><%= tweet[:username] %><th>
            <td><code><%= sanitize(tweet[:text]) %></td>
            <td><%= link_to "Link #{tweet[:url].split("/").last}", tweet[:url] %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
</div>
