<div>
  <h3>Round up for: <code><%= roundup.list_of_monitored_accounts.join(", ") %></code></h3>

  <%= link_to 'Edit', edit_roundup_path(roundup) %> |
  <%= link_to 'Delete', roundup,  method: :delete %>

  <p>
    Sent every <%= distance_of_time_in_words(t = Time.zone.now, t += roundup.period) %>.
    <% if roundup.job.present? %>
      Next refresh in <%= distance_of_time_in_words(roundup.job.run_at, Time.zone.now) %>.
    <% else %>
      Currently no refresh scheduled.
    <% end %>
  </p>

  <h4>Notifications Configured</h4>
  <% if roundup.webhook_endpoint.present? %>
    <p>
      When reports are generated, a POST request is sent to:<br/>
      <code><%= roundup.webhook_endpoint %></code>
    </p>
  <% end %>
  <% if roundup.email_address.present? %>
    <p>
      When reports are generated, an email is sent to:<br/>
      <code><%= roundup.email_address %></code>
    </p>
  <% end %>

  <h4>Latest Report</h4>
  <% if roundup.manually_refreshable? %>
    <%= link_to 'Refresh Now', refresh_roundup_path(roundup), method: :post %>
  <% else %>
    <p>Manual Refresh available in <%= distance_of_time_in_words(Time.zone.now - roundup.manually_refreshable_in, Time.zone.now) %></p>
  <% end %>
  <% unless roundup.roundup_reports.empty? %>
    <p>Created <%= distance_of_time_in_words(roundup.roundup_reports.last.created_at, Time.zone.now) %> ago.</p>
    <table>
      <% roundup.roundup_reports.last.tweets.each do |tweet| %>
        <tr>
          <th><%= tweet[:username] %><th>
          <td>Posted: <%= link_to "Link #{tweet[:url].split("/").last}", tweet[:url] %></td>
          <td><code><%= tweet[:text] %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
