<div class="jumbotron" style="background-image: url(http://i.imgur.com/dnPFm2I.jpg); background-size: cover; color: LightGrey;">
  <h1 style="color: white">Twitter Roundup</h1>
  <p>Login to get periodic, aggregated 'roundups' via email or webhook for a chosen list of Twitter accounts.</p>

  <% if @total > Rails.configuration.count_display_threshold %>
    <p>
      So far,
      <strong><%= @user_count %> users</strong> have created
      <strong><%= @roundup_count %> roundups </strong> and received
      <strong><%= @roundup_report_count %> reports</strong>.
    </p>
  <% end %>

  <% unless current_user %>
    <strong>Will I find this useful?</strong>
    <ul style="list-style-type: none; padding-left: 10px;">
      <li><span class="glyphicon glyphicon-ok" style="color: YellowGreen;"></span> I'd like to follow some noisy accounts on a periodic basis.</li>
      <li><span class="glyphicon glyphicon-ok" style="color: YellowGreen;"></span> I'd like emails or webhook notifications.</li>
      <li><span class="glyphicon glyphicon-ok" style="color: YellowGreen;"></span> I'm only interested in links from some Twitter accounts.</li>
      <li><span class="glyphicon glyphicon-remove" style="color: OrangeRed;"></span> I want more regular updates. (I'm gauging how far I can push the Twitter API before rate limiting)</li>
      <li><span class="glyphicon glyphicon-remove" style="color: OrangeRed;"></span> I want custom webhooks (I'm thinking about a good interface for this, try zapier in the meantime)</li>
      <li><span class="glyphicon glyphicon-remove" style="color: OrangeRed;"></span> I can't sign in with Twitter (I've only had time for one auth provider so far)</li>
    </ul>
  <% end %>

  <% if current_user %>
	<%= link_to "Manage Roundups", roundups_path, class: "btn btn-success btn-lg" %>
  <% else %>
	<%= link_to 'Login with Twitter', '/auth/twitter', class: "btn btn-info btn-lg" %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Example Webhook Data</h2>
    <p>List of tweets (username, text, url) then HTML list of same tweets.</p>
    <pre>
{
  "tweets": [
    {
      "username": "charlieegan3",
      "text": "Checkout this awesome site",
      "url": "https://gentle-beach-11189.herokuapp.com"
    },
    ...
  ],
  "tweets_html": "&lt;p&gt;username: &lt;a href=\"http...\"&gt;..."
}
    </pre>
  </div>
  <div class="col-md-6">
    <h2>Example Email</h2>
    <p>List of tweets where tweet text is a link to the tweet's external url</p>
    <img style="width: 100%; border: 1px solid LightGrey; border-radius: 5px" src="http://i.imgur.com/sP3WPl2.png"/>
  </div>
  </div>
</div>
